.footer{
  display:grid;
  grid-template: 1fr / 1fr auto auto;
  gap: 10px 40px;

  padding: 25px 30px;

  color: var(--background);

  background-color: var(--primary);
}

.footer a:hover{
  color: var(--foreground);
}

@media (width <= 765px){
  .footer{
    grid-template-columns: 1fr ;
  }

}
