.ptag {
  margin:0;
  font-family: var(--font-noto-sans-regular);
}

.s {
  font-size: 14px;
  line-height: 20px;
}

.m{
  font-size: 16px;
  line-height: 22px;
}

.l {
  font-size: 18px;
  line-height: 24px;
}

.xl {
  font-family: var(--font-noto-sans-bold);
  font-size: 26px;
  line-height: 32px
}

.xxl {
  font-family: var(--font-noto-sans-bold);
  font-size: 36px;
  line-height: 42px
}
