.button {
  cursor: pointer;

  display: inline-block;

  padding:10px;

  font-size: 14px;
  text-align: center;

  border:none;
  border-radius: 5px;

  transition: all 0.2s;
}

.primary {
  color: var(--background);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}


.ghost {
  color: var(--foreground);
  background: none;
  border: 1px solid var(--gray-light);
}

.ghost:hover {
  background-color: var(--primary);
}
